name: ic_ses_yalnizlik_gunlugu
description: İç ses ve yalnızlık günlüğü
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_tts: ^3.8.5

flutter:
  uses-material-design: true
